.intro {  

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDFDFB;
    gap: 135px;

    background-image: url('/img/intro-background.png');
    background-repeat: no-repeat;
    background-position-x: 70%;
    background-position-y: 100%;
  }

  &-text {    
    

    &-line {
      width: 50px;
      height: 1px;
      background-color: #8B8371;
      display: inline-block;
      
    }

    &-title {
      font-family: "Playfair Display";
      font-weight: 400;
      font-size: 45px;
      margin-bottom: 10px;
      
      
    }

    &-title2 {
      font-weight: 400;
      font-size: 30px;
      margin-bottom: 35px;
    }

    &-paragraph {
      width: 265px;
      font-weight: 300;
      font-size: 14px;
      color: #1B1A17D1;
      margin-bottom: 60px;
    }   

    
  }
  
}

.img {
  position: relative;
  display: inline-block;
  border-width: 4px; 
  
  
   &::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 1px;
    border-radius: 50%;
    background: linear-gradient(to left, #E2D0C4, transparent);
    -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
          mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
   } 
}



// .blaa {
//   position: relative;
// }

// .intro-promo-price {
//   position: absolute;
// }